.carousel-item{
    transition: transform 0.1s ease-in-out,-webkit-transform 0.1s ease-in-out;
}
#color_carousel_1 .carousel-control-prev{
    background-color: black;
    width: 3%;
    margin-left: 3.5%;
   }
#color_carousel_1 .carousel-control-next{
    background-color: black;
    width: 3%;
    margin-right: 3.8%;
}

.navbar{
    background-color: #0F1F4A;
    position: fixed;
    z-index: 100;
    width: 100%;
}    
.navbar a{
    text-decoration: none;
}
  
.nav-link.logo-router h1{
    margin: 0px;
}
  
.logo{
  width: 103px;
  height: 55px;
  background-image: url(../images/logo.png);
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
}

.nav-link.logo-router{
    padding: 0;
}

@media screen and (max-width: 768px){
    .nav-link.logo-router h1 {
       display: none;
      }
}
.nav-link.logo-router h5{
    display: inline-block;
    padding: 16px 0 16px 16px;
    margin: 0px;
    color: white;
}


.navbar-light .navbar-nav .nav-link {
  background-color: #15285F;
  color: white;
  font-size: 1rem;
  padding: 1em 2em;
  border-left: 1px solid #475578;
}
@media screen and (max-width: 768px){
    .navbar-light .navbar-nav .nav-link {
        border-top: 1px solid #475578;
        padding: 0.8em 1em;
      }
}

.navbar-light .navbar-nav .nav-link:focus{
    background-color: #2E689E;
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: #2E689E;
    color: white;
}
.navbar-light .navbar-nav .nav-link .menutext{
    background-color: #2E689E;
    color: white;
}
.navbar-toggler {
    padding: 0.25rem 9px;
}

/* PC */
.set3{
    margin: 0 auto;
    position: relative;
    width: 1024px;
    height: 585px;
    background-position: center;
}

.set3_btn {
    position: absolute;
    right: 238px;
    width: 554px;
    bottom: 63px;
}
.set3_btn:hover{
    opacity: 0.8;
}

.all_set{
    margin: 0 auto;
    position: relative;
    width: 1024px;
    height: 2564px;
    background-position: center;
}
.cta_3set_btn{
    position: absolute;
    top: 1989px;
    left: 175px;
    width: 662px;
}
.cta_3set_btn:hover{
    opacity: 0.6;
}

.cta_5set_btn{
    position: absolute;
    top: 1326px;
    left: 175px;
    width: 662px;
}
.cta_5set_btn:hover{
    opacity: 0.6;
}
.cta_4set_btn{
    position: absolute;
    top: 643px;
    left: 175px;
    width: 662px;
}
.cta_4set_btn:hover{
    opacity: 0.6;
}
.cta_2set_btn{
    position: absolute;
    bottom: 218px;
    right: 189px;
    width: 260px;
}
.cta_2set_btn:hover{
    opacity: 0.6;
}
.cta_1set_btn{
    position: absolute;
    bottom: 39px;
    right: 189px;
    width: 260px;
}
.cta_1set_btn:hover{
    opacity: 0.8;
}
.power_area{
    margin: 0 auto;
    position: relative;
    width:1024px;
    height: 2110px;
    background: url(../images/06_power.jpg);
    background-position: center;
    background-size: 100%;
}


.future_area{
    margin: 0 auto;
    position: relative;
    width: 1060px;
    height: 1869px;
    background: url(../images/10_future.jpg);
    background-position: center;
    background-size: 100%;
}
.future_btn{
    position: absolute;
    top: 953px;
    left: 250px;
    width: 557px;
}
.future_btn:hover{
    opacity: 0.6;
}
.sns_btn {
    text-align: center;
}
.sns_btn ul li{
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
}

.buybtn{
    width: 174px;
    position: fixed;
    right: 0;
    bottom: 20px;
    z-index: 99;
}
.buybtn img{
    width: 100%; 
    height: auto;
}

@media screen and (max-width: 768px){
    .buybtn {
        width: 28%;
        max-width: 170px;
    }
}

.NewyearInfo img{
    width: 720px;
}
@media screen and (max-width: 768px){
    .NewyearInfo img{
        width: 100%;
    }
}

.mobile{
    display: none;
}
@media screen and (max-width: 768px){
.PC{
    display: none;
}
.mobile{
    display: block;
}
}
